$projectb-width-100: 100%;
$projectb-width-90: 90%;
$projectb-width-80: 80%;
$projectb-width-70: 70%;
$projectb-width-60: 60%;
$projectb-width-50: 50%;
$projectb-width-40: 40%;
$projectb-width-30: 30%;
$projectb-width-20: 20%;


//media width
$projectb-screen-width-50:50%;
$projectb-screen-width-70:70%;
$projectb-screen-width-80:80%;
$projectb-screen-width-90:90%;
$projectb-screen-width-100:100%;
$projectb-screen-width-40:40%;
$projectb-screen-width-60:60%;
$projectb-screen-width-30:30%;